{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <ul class="object-tools">
            <a href="create_all_jobs/" class="historylink"><b>Create Jobs</b></a>
        </ul>
        <br>
        <br>

<!--         <ul class="object-tools">
            <a href="start_scheduler_task/" class="historylink"><b>Resume Scheduler</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="stop_scheduler_task/" class="historylink"><b>Pause Scheduler</b></a>
        </ul>
        <br>
        <br> -->

<!--         <ul class="object-tools">
            <a href="get_sales_info/" class="historylink"><b>Get Sale Data</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="create_orders/" class="historylink"><b>Create Orders</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="get_order_shipments/" class="historylink"><b>Get Order Shipments</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="post_sale_pick/" class="historylink"><b>Sale fulfilment pick</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="post_sale_pack/" class="historylink"><b>Sale fulfilment Pack</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="post_sale_ship/" class="historylink"><b>Sale fulfilment ship</b></a>
        </ul>
        <br>
        <br>

        <ul class="object-tools">
            <a href="post_sale_invoice/" class="historylink"><b>Sale Invoice</b></a>
        </ul>
        <br>
        <br> -->

    </div>
    <br />
    {{ block.super }}
{% endblock %}